body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/p3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
}

.header{
    display: flex;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.logo a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
}

.logo-icon{
    height: 70px;
    margin-top:5px ;
    color: white;
}
.body{
    margin-left: 100px;
    margin-top: 80px;
    color: white;
}

.para1{
    font-size: 20px;
    font-weight: bold;
    color: hotpink;
    letter-spacing: 0.2em;
    font-family: Arial, Helvetica, sans-serif;

}

.para2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 90%;
    border-bottom: 3px double green;
}

.projects{
    display: flex;
    flex-direction: row;
}


.ht{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;

}

.html-css a{
    text-decoration: none;
    color: rgb(255,45,0);
    font-weight: bold;
    font-size: 15px;
    line-height: 2em;

}

.java{
    margin-left: 250px;


}

.script{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;

}

.java a{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    font-size: 15px;
    line-height: 2em;

}

.soon{
    font-size: 18px;
    color: aqua;
}